<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Fb</title>
</head>
<style>
    .body {
        display: flex;
        justify-content: space-between;
    }

    .part {
        flex-basis: 25%;
    }

    .input {
        display: flex;
    }

    .part.right {
        display: flex;
        flex-basis: 60%;
        justify-content: space-between;
    }
</style>
<body class="body">
<div class="part">
    <form method="post" action="/takeAction">
        <div class="input">
            <div>
    <textarea
            cols="20" rows="50"
            name="downloadedData"
            placeholder="2 Cột MVĐ, SKU sản phẩm tải từ báo cáo shopee"
    ></textarea>
            </div>
            <div>
        <textarea
                cols="20" rows="50"
                name="packedOrders"
                placeholder="MVĐ đã gói"
        ></textarea>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="part right">
    <div>
        <label>SKU Áo</label></label><textarea th:text="${listSKUsA}" rows="50"></textarea>
    </div>
    <div>
        <label>SKU Quần</label><textarea th:text="${listSKUsQ}" rows="50"></textarea>
    </div>
    <div>
        <label>SKU Không Tìm Thấy, Tự Điền Bằng Tay</label><textarea th:text="${listSKUsNotFound}"
                                                                     rows="50"></textarea>
    </div>
    <div><label>MVĐ Chưa Xử Lí</label><textarea th:text="${unfoundTrackingNumbers}" rows="50"></textarea>
    </div>

</div>
</body>
</html>