<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Fb</title>
</head>
<style>
    .body {
        display: flex;
        justify-content: space-between;
    }

    .part {
        flex-basis: 25%;
    }

    .input {
        display: flex;
    }
</style>
<body class="body">
<div class="part">
    <form method="post" action="/takeAction">
        <div class="input">
            <div>
    <textarea
            cols="50" rows="50"
            name="downloadedData"
            placeholder="downloadedData"
    ></textarea>
            </div>
            <div>
        <textarea
                cols="50" rows="50"
                name="packedOrders"
                placeholder="packedOrders"
        ></textarea>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="part">
    <textarea th:text="${listSKUsA}"></textarea>
    <textarea th:text="${listSKUsQ}"></textarea>
    <textarea th:text="${listSKUsNotFound}"></textarea>
    <textarea th:text="${unfoundTrackingNumbers}"></textarea>

</div>
</body>
</html>